.welcome{
    color: blue;
    position: absolute;
    top: 0px; left: 400px;
    font-size: 30px;
}

body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0095794c-6589-497e-8f7f-4fdf36520fc9/de7wktw-b7d1006b-0634-4be5-87f4-be0f2f620484.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzAwOTU3OTRjLTY1ODktNDk3ZS04ZjdmLTRmZGYzNjUyMGZjOVwvZGU3d2t0dy1iN2QxMDA2Yi0wNjM0LTRiZTUtODdmNC1iZTBmMmY2MjA0ODQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7wiAcNeALOETwWBFp18sjIcaKCz4CDLA18MeMSJCkfw");
    background-repeat: no-repeat;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: 2000px 1200px;
}

.u1{
    color: rgb(180, 17, 17);

}
.image2{
    position: absolute;
top: 200px; left: 30px;
border-radius: 25px;
}
.j2{
    position: absolute;
    top: 40px; left: 950px;
    color: white;
}
.image1{
    position: absolute;
    top: 25px; left: 275px;
    border-radius: 25px;
    opacity: 95%;
}
HR{
   position: absolute;
   top: 50px; left: 300px;
   opacity: 65%;
} 
.image3{
position: absolute;
top: 800px; left: 300px;
border-radius: 25px;
}
body::-webkit-scrollbar {
    width: 8px; 
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(109, 122, 117);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
  }
  body{
    overflow-x: hidden;
  }
.j3{
  position: absolute;
  top: 40px; left: 450px;
  color: white;
}
.j4{
  position: absolute;
  top: 40px; left: 1150px;
  color: white;
}

@import url(`https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900`);
.j2{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.j2:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  flex-direction: column;
}.j3{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.j3:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}.j4{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.j4:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}
.lien1{
  color: white;
  background-color: #ff22bb;
}
.p2{
  position: absolute;
  top: 1030px; left: 350px;
  color: white;
}
.image4{
  border-radius: 20px;
  position: absolute;
  top: 650px; left: 310px;
}
.p1{
  color: white;
  position: relative;
  top: 650px; left: 400px;
  font-size: 20px;
  font-weight: bold;

}.j5{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.j5:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}
.j5{
  position: absolute;
  top: 40px; left: 629px;
  color: white;
 
}.lien2{
  background-color: #ff22bb;
  border-radius: 20px;
  color: white;
}.lien3{
  background-color: #ff22bb;
  border-radius: 20px;
  color: white;
}
.lien4{
  background-color: #ff22bb;
  border-radius: 20px;
  color: white;

}
.lien1{
  background-color: #ff22bb;
  border-radius: 20px;
  color: white;
}
.liena{
  color: white;
}
.lienb{
  color: white;

}
.lienc{
  color: white;
    .lien{
        color: white;}

}
.Tabs{
  position: absolute;
  top: 600px; left: 1100px;
  color: white;
}
.Social{
  position: absolute;
  top: 600px; left: 900px;
  color: white;

}
.tabs1{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.tabs1:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}.tabs1{
  color: white;
  position: absolute;
  top: 650px; left: 1100px;
  font-size: larger;
}.tabs2{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.tabs2:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}.tabs2{
  color: white;
  position: relative;
  top: 660px; left: 1100px;
  font-size: larger;
}.tabs3{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.tabs3:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}.tabs3{
  color: white;
  position: relative;
  top: 675px; left: 1100px;
  font-size: larger;
}.tabs4{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.tabs4:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}.tabs4{
  color: white;
  position: relative;
  top: 685px; left: 1100px;
  font-size: larger;
}.social1{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.social1:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}.social1{
  color: white;
  position: relative;
  top: 463px; left: 900px;
  font-size: larger;
}.liens{
  color: white;
}.social2{
  position: absolute;
  padding:  4px;
 border-radius: 20px;
  transition: 1s;
}.social2:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}.social2{
  color: white;
  position: relative;
  top: 474px; left: 900px;
  font-size: larger;
}.lien{
  color: white;
}.liens{
    color:white;}
