p.welcome{
    color: purple;
}

body{
    background: url("https://cdn.discordapp.com/attachments/817431990969565244/1041099504578990090/1epN.gif") no-repeat;
    background-size: 550px 300px;
    background-color: rgb(63, 62, 62);
}
u1{
    color: rgb(180, 17, 17);
    
}
.img1{
    position: absolute;
    position: 0px;
    size: 50px;
}
